

    <div class=" container d-flex d-sm-column gap-3 flex-column flex-md-row mt-5">
            <div class="card  ">
                <div class="card-body">
                  <h5 class="card-title">Assessment 1</h5>
                  <p class="card-text">Create a signup page with Name, Email, Phone Number, Password & Confirm
                    Password</p>
                  <a routerLink="/signup" class="btn btn-primary">Go to 1</a>
                </div>
        </div>
        <div class="card  ">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
    </div>
    <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
</div>
    </div>