<div
  class="container d-flex d-sm-column gap-3 justify-content-between flex-column flex-md-row mt-5"
>
  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">Assessment 1</h5>
      <p class="card-text">signup page</p>
      <a routerLink="/signup" class="btn btn-primary">Go to Assessment 1</a>
    </div>
  </div>
  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">Assessment 2</h5>
      <p class="card-text">Form Controller</p>
      <a routerLink="/signup" class="btn btn-primary">Go to Assessment 2</a>
    </div>
  </div>
  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">Assessment 3</h5>
      <p class="card-text">chat box</p>
      <a routerLink="/signup" class="btn btn-primary">Go to Assessment 3</a>
    </div>
  </div>
</div>
